<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-margin">
        <h3 class="uk-card-title">Aula 9</h3>
        <p>Criando e validando campos do formulário</p>
    </div>
  <form class="uk-form-controls" [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
    <div class="uk-margin">
      <label class="uk-form-label" for="nome">Nome</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="text" formControlName="nome">
      </div>
    </div>
    <div *ngIf="!nome.pristine && nome.errors">
      <p class="uk-label uk-label-danger" *ngIf="nome.errors.required">Nome é requerido</p>
      <p class="uk-label uk-label-danger" *ngIf="nome.errors.minlength">O campo deve ter no mínimo 3 caracteres</p>
      <p class="uk-label uk-label-danger" *ngIf="nome.errors.maxlength">O campo não deve ter mais que 70 caracteres</p>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="email">E-mail</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="email" formControlName="email">
      </div>
    </div>
    <div *ngIf="!email.pristine && email.errors">
      <p class="uk-label uk-label-danger" *ngIf="email.errors.email">Um e-mail válido deve ser preenchido</p>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="cpf">CPF</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="text" formControlName="cpf">
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="nascimento">Data de nascimento</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="date" formControlName="nascimento">
      </div>
      <div class="uk-margin uk-form-controls" *ngIf="!nascimento.pristine && nascimento.errors">
        <p class="uk-label uk-label-danger" *ngIf="nascimento.errors.required">Data de nascimento é obrigatória</p>
        <p class="uk-label uk-label-danger" *ngIf="nascimento.errors.menorDeIdade">Precisa ser maior de 18 anos para cadastrar-se</p>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="senha">Senha</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="password" formControlName="senha">
        <div class="uk-margin" *ngIf="!senha.pristine && senha.errors">
          <p class="uk-label uk-label-danger" *ngIf="senha.errors.required">Senha é obrigatória</p>
          <p class="uk-label uk-label-danger" *ngIf="senha.errors.minlength">Senha deve ter no mínimo 6 caracteres</p>
          <p class="uk-label uk-label-danger" *ngIf="senha.errors.maxlength">Senha deve ter no maximo 12 caracteres</p>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="confirmarSenha">Confirmar senha</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-width-medium" type="password" formControlName="confirmarSenha">
        <div class="uk-margin" *ngIf="!confirmarSenha.pristine && confirmarSenha.errors">
          <p class="uk-label uk-label-danger" *ngIf="confirmarSenha.errors.required">Campo obrigatória</p>
          <p class="uk-label uk-label-danger" *ngIf="confirmarSenha.errors.senhasIdenticas">Senhas não são iguais</p>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-default" type="submit" [disabled]="!formularioDeUsuario.valid">Submeter</button>
    </div>
    <pre>
      {{ formularioDeUsuario.value | json }}
    </pre>
    <pre>
        {{ formularioDeUsuario.valid }}
    </pre>

  </form>
</div>
<router-outlet></router-outlet>
